:root {
  --main-charcoal: #323233;
  --main-green: #A0EF86;
  --main-width: 1200px;
  --main-height: 900px;
  --main-gutter: 10px;
  --green: #4da53c;
  --red: #ff6939;
  --gray: #6c757d;
  --light-gray: rgba(255, 255, 255, 0.5);
  --light-black: rgba(0,0,0,0.8);
  --lighter-black: rgba(0,0,0,0.5);
  --transparent: rgba(0,0,0,0);
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Special Elite', Arial, Helvetica, sans-serif;
}
