.board-container, .replay-overlay-active, .replay-btn, .replay-msg {
  --square-width: 15vw;
}

.base-square {
  --square-font-size: 14px;
}

@media screen and (min-width: 768px) {
  .board-container, .replay-overlay-active, .replay-btn, .replay-msg {
    --square-width: 12.5vw;
  }

  .base-square {
    --square-font-size: 24px;
  }
}

.base-square {
  font-size: var(--square-font-size);
  width: 100%;
  height: 100%;
  background-color: var(--lighter-black);
}

.position-0 {
  grid-area: board-square-0;
}

.position-1 {
  grid-area: board-square-1;
}

.position-2 {
  grid-area: board-square-2;
}

.position-3 {
  grid-area: board-square-3;
}

.position-4 {
  grid-area: board-square-4;
}

.position-5 {
  grid-area: board-square-5;
}

.position-6 {
  grid-area: board-square-6;
}

.position-7 {
  grid-area: board-square-7;
}

.position-8 {
  grid-area: board-square-8;
}

.board-container {
  position: relative;
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(3, var(--square-width));
  grid-template-rows: repeat(3, var(--square-width));
  grid-template-areas:
    "board-square-0 board-square-1 board-square-2"
    "board-square-3 board-square-4 board-square-5"
    "board-square-6 board-square-7 board-square-8";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
}

.replay-overlay-active {
  position: absolute;
  background-color: var(--light-black);
  width: calc(3 * var(--square-width) + var(--main-gutter) * 2);
  height: calc(3 * var(--square-width) + var(--main-gutter) * 2);
  z-index: 2;
}

.replay-btn {
  cursor: pointer;
  position: absolute;
  width: calc(var(--square-width) + var(--main-gutter));
  height: calc(var(--square-width)  + var(--main-gutter));
  top: 50%;
  transform: translateY(-50%);
  margin-left: 33%;
  margin-right: 33%;
  background-color: white;
}

.result-msg {
  width: 75%;
  margin: auto;
  text-align: center;
  height: calc(var(--square-width) / 3);
  top: 50%;
  transform: translateY(50%);
}

.result-msg-draw {
  color: var(--gray);
}

.result-msg-victory {
  color: var(--green);
}

.result-msg-defeat {
  color: var(--red);
}
