.game-board {

}

.game-info {
  max-width: 80%;
  margin: 20px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  min-height: 77.5vh;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
}

.about-title {
  text-decoration: underline;
  font-weight: bold;
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

.about-text {
  margin: 1em 2em;
  line-height: 1.6;
  text-indent: 25px;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .game-info {
    max-width: 40%;
  }
}
