.title-series {
  grid-area: series-title;
  text-align: center;
}

.title-world {
  grid-area: world-title;
  text-align: center;
}

.chart-series {
  grid-area: series-chart;
}

.chart-world {
  grid-area: world-chart;
}

.chart-container {
  display: grid;
  grid-template-columns: calc(var(--main-width) / 6) calc(var(--main-width) / 3);
  grid-template-rows: calc(var(--main-height) / 6) calc(var(--main-height) / 6);
  grid-template-areas:
    "series-title series-chart"
    "world-title world-chart";
  align-items: center;
  justify-items: center;
}
