.square {
  width: 100%;
  height: 100%;
  line-height: 100%;
  background: rgba(204, 204, 204, 0);
  color: blue;
  border-style: none;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 0 1px 12px black;
  text-align: center;
  cursor: pointer;
}

.square:focus {
  outline: none;
}
