.email {
  margin-right: 20px;
}

.link-item {
  text-decoration: none;
  text-align: center;
  color: white;
}

footer {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  background-color: var(--main-charcoal);
  background-image: url('../../dist/images/doowop-bg-v4.png');
}
