h1.header {
  margin: auto;
  text-align: center;
  color: white;
}

.logo-base {
  font-size: 1.9em;
}

.logo-eyes {
  font-size: 1.7em;
  font-weight: lighter;
}

.logo-end {
  font-size: 2em;
}

.nav {
  display: flex;
  height: 12.5vh;
  background-color: var(--main-charcoal);
  background-image: url('../../dist/images/doowop-bg-v4.png');
}
