.nav {
  background-color: var(--main-charcoal);
  display: flex;
  height: 100px;
  align-items: center;
}

h1 {
  color: var(--main-green);
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  text-align: center;
}
